<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Asap+Condensed&family=Dancing+Script&family=Montserrat:wght@800&family=Poppins:wght@200;500;600&family=Roboto+Condensed:wght@300&family=Roboto:wght@100&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="texto">
      <img src="https://static.wixstatic.com/media/dc485e_99671150bf9744ef9dc7148288bfe201~mv2.gif" alt="">
    <h1><%= title %></h1>
    <p>Hello this is a simple exercise<br>about how to use the service Create Web App of Azure</p>
 
  </div>
  </body>
</html>
